/*  GRID OF TEN   ============================================================================= */


.span_10_of_10 {
	width: 100%;
}

.span_9_of_10 {
	width: 90%;
}

.span_8_of_10 {
	width: 80%;
}

.span_7_of_10 {
	width: 70%; 
}

.span_6_of_10 {
	width: 60%; 
}

.span_5_of_10 {
	width: 50%; 
}

.span_4_of_10 {
	width: 40%; 
}

.span_3_of_10 {
	width: 30%;
}

.span_2_of_10 {
	width: 20%; 
}

.span_1_of_10 {
	width: 10%; 
}

.span_1_of_10.fixed {
	width: 10%!important; 
}


/*  GO FULL WIDTH AT LESS THAN 568 PIXELS */

@media only screen and (max-width: 568px) {
	.span_10_of_10 {
		width: 100%; 
	}
	.span_9_of_10 {
		width: 100%; 
	}
	.span_8_of_10 {
		width: 100%; 
	}
	.span_7_of_10 {
		width: 100%; 
	}
	.span_6_of_10 {
		width: 100%; 
	}
	.span_5_of_10 {
		width: 100%; 
	}
	.span_4_of_10 {
		width: 100%; 
	}
	.span_3_of_10 {
		width: 100%; 
	}
	.span_2_of_10 {
		width: 100%; 
	}
	.span_1_of_10 {
		width: 100%; 
	}
}
