/*  GRID OF ELEVEN   ============================================================================= */

.span_11_of_11 {
	width: 100%;
}

.span_10_of_11 {
	width: 90.90%;
}

.span_9_of_11 {
	width: 81.81%;
}

.span_8_of_11 {
	width: 72.72%;
}

.span_7_of_11 {
	width: 63.63%; 
}

.span_6_of_11 {
	width: 54.54%; 
}

.span_5_of_11 {
	width: 45.45%; 
}

.span_4_of_11 {
	width: 36.36%; 
}

.span_3_of_11 {
	width: 27.27%;
}

.span_2_of_11 {
	width: 18.18%; 
}

.span_1_of_11 {
	width: 9.090%; 
}

.span_1_of_11.fixed {
	width: 9.090%!important; 
}


/*  GO FULL WIDTH AT LESS THAN 568 PIXELS */

@media only screen and (max-width: 568px) {
	.span_11_of_11 {
		width: 100%; 
	}
	.span_10_of_11 {
		width: 100%; 
	}
	.span_9_of_11 {
		width: 100%; 
	}
	.span_8_of_11 {
		width: 100%; 
	}
	.span_7_of_11 {
		width: 100%; 
	}
	.span_6_of_11 {
		width: 100%; 
	}
	.span_5_of_11 {
		width: 100%; 
	}
	.span_4_of_11 {
		width: 100%; 
	}
	.span_3_of_11 {
		width: 100%; 
	}
	.span_2_of_11 {
		width: 100%; 
	}
	.span_1_of_11 {
		width: 100%; 
	}
}