/*  GRID OF TWELVE   ============================================================================= */

.span_12_of_12 {
	width: 100%;
}

.span_11_of_12 {
	width: 91.66%;
}

.span_10_of_12 {
	width: 83.33%;
}

.span_9_of_12 {
	width: 75%;
}

.span_8_of_12 {
	width: 66.66%;
}

.span_7_of_12 {
	width: 58.33%; 
}

.span_6_of_12 {
	width: 50%; 
}

.span_5_of_12 {
	width: 41.66%; 
}

.span_4_of_12 {
	width: 33.33%; 
}

.span_3_of_12 {
	width: 25%;
}

.span_2_of_12 {
	width: 16.66%; 
}

.span_1_of_12 {
	width: 8.333%; 
}

.span_1_of_12.fixed {
	width: 8.333%!important; 
}


/*  GO FULL WIDTH AT LESS THAN 568 PIXELS */

@media only screen and (max-width: 568px) {
	.span_12_of_12 {
		width: 100%; 
	}
	.span_11_of_12 {
		width: 100%; 
	}
	.span_10_of_12 {
		width: 100%; 
	}
	.span_9_of_12 {
		width: 100%; 
	}
	.span_8_of_12 {
		width: 100%; 
	}
	.span_7_of_12 {
		width: 100%; 
	}
	.span_6_of_12 {
		width: 100%; 
	}
	.span_5_of_12 {
		width: 100%; 
	}
	.span_4_of_12 {
		width: 100%; 
	}
	.span_3_of_12 {
		width: 100%; 
	}
	.span_2_of_12 {
		width: 100%; 
	}
	.span_1_of_12 {
		width: 100%; 
	}
}