/*  GRID OF TWO   ============================================================================= */


.span_2_of_2 {
	width: 100%;
}

.span_1_of_2 {
	width: 50%;
}

.span_1_of_2.fixed {
	width: 50%!important;
}


/*  GO FULL WIDTH AT LESS THAN 568 PIXELS */

@media only screen and (max-width: 568px) {
	.span_2_of_2 {
		width: 100%; 
	}
	.span_1_of_2 {
		width: 100%; 
	}
}