/*  GRID OF FIVE   ============================================================================= */

	
.span_5_of_5 {
	width: 100%;
}

.span_4_of_5 {
  	width: 80%; 
}

.span_3_of_5 {
  	width: 60%; 
}

.span_2_of_5 {
  	width: 40%;
}

.span_1_of_5 {
  	width: 20%;
}

.span_4_of_5.fixed {
  	width: 80%!important; 
}

.span_1_of_5.fixed {
  	width: 20%!important;
}


/*  GO FULL WIDTH AT LESS THAN 568 PIXELS */

@media only screen and (max-width: 568px) {
	.span_5_of_5 {
		width: 100%; 
	}
	.span_4_of_5 {
		width: 100%; 
	}
	.span_3_of_5 {
		width: 100%; 
	}
	.span_2_of_5 {
		width: 100%; 
	}
	.span_1_of_5 {
		width: 100%; 
	}
}