/*  GRID OF NINE   ============================================================================= */


.span_9_of_9 {
	width: 100%;
}

.span_8_of_9 {
	width: 88.88%;
}

.span_7_of_9 {
	width: 77.77%; 
}

.span_6_of_9 {
	width: 66.66%; 
}

.span_5_of_9 {
	width: 55.55%; 
}

.span_4_of_9 {
	width: 44.44%; 
}

.span_3_of_9 {
	width: 33.33%;
}

.span_2_of_9 {
	width: 22.22%; 
}

.span_1_of_9 {
	width: 11.11%; 
}

.span_1_of_9.fixed {
	width: 11.11%!important; 
}


/*  GO FULL WIDTH AT LESS THAN 568 PIXELS */

@media only screen and (max-width: 568px) {
	.span_9_of_9 {
		width: 100%; 
	}
	.span_8_of_9 {
		width: 100%; 
	}
	.span_7_of_9 {
		width: 100%; 
	}
	.span_6_of_9 {
		width: 100%; 
	}
	.span_5_of_9 {
		width: 100%; 
	}
	.span_4_of_9 {
		width: 100%; 
	}
	.span_3_of_9 {
		width: 100%; 
	}
	.span_2_of_9 {
		width: 100%; 
	}
	.span_1_of_9 {
		width: 100%; 
	}
}