/*  GROUPING  ============================================================================= */

.group:before,
.group:after {
	content:"";
	display:table;
}
.group:after {
	clear:both;
}
.group {
	zoom:1; /* For IE 6/7 (trigger hasLayout) */
}

/*  GRID COLUMN SETUP   ==================================================================== */

.col {
	display: block;
	float:left;
}

/*  REMOVE MARGINS AS ALL GO FULL WIDTH AT 568 PIXELS */

@media only screen and (max-width: 568px) {
	.col { 
		margin: 0;
	}
}