/* global settings */

.clear {
	clear:both;
}

/* structure */

.full-width {
	width:100%;
	min-width:750px;
}

.fixed-width {
	width:auto;
	max-width:970px;
	padding:0 50px;
	margin:0 auto;
}

.fixed-width.wide {
	width:100%;
	max-width:1024px;
	padding:0;
}

/* top bar */

#top-bar-span {
	background-color:#f3fad9;
}

.top-bar-nav .language-select {
	float:left;
	color:#666666;
	font-size:12px;
	padding-top:9px;
}

.top-bar-nav .language-select a {
	color:#666666;
	text-decoration: none;
}

.top-bar-nav ul {
	float:right;
	list-style:none;
	margin:0;
	padding:0;
}

.top-bar-nav ul li {
	display:inline-block;
	float:right;
	padding:7px 0;
}

.top-bar-nav ul li a {
	display:block;
	color:#666666;
	height:12px;
	line-height:12px;
	text-decoration:none;
	text-transform:uppercase;
	font-size:12px;
	padding:3px 7px;
	background:url(http://beautyblog.thebodyshop.co.uk/wp-content/themes/pixeldot/images/top-bar-separator.gif) top right no-repeat transparent;
}

.top-bar-nav ul li.rewards-card {
	padding-right:47px;
	background:url(http://beautyblog.thebodyshop.co.uk/wp-content/themes/pixeldot/images/rewards-card.png) right center no-repeat transparent;
}

.top-bar-nav ul li.rewards-card a {
	padding-right:0;
}

/* header */

#header-span {
	background:url(http://beautyblog.thebodyshop.co.uk/wp-content/themes/pixeldot/images/header-bg.jpg) 0 -30px repeat-x transparent;
	z-index:1;
}

#header {
	padding:40px 0 0 0;
}

#header a.logo {
	display:block;
	width:348px;
	height:33px;
	background:url(http://beautyblog.thebodyshop.co.uk/wp-content/themes/pixeldot/images/tbs-logo.png) 0 0 no-repeat transparent;
	text-indent:-9999px;
	text-transform:capitalize;
	cursor:pointer;
	margin-left:25px;
}

#header .nav {
	margin-top:37px;
	clear:both;
	background-color:#FFF;
	min-height:36px;
	border:1px solid #CCCCCB;
}

#header .nav ul {
	list-style:none;
	margin:0;
	padding:0;
}

#header .nav ul li {
	display:inline-block;
	float:left;
	padding:0;
	width:100%;
}

#header .nav ul li ul {
	width:100%;
}

#header .nav ul li ul li {
	padding:10px 0;
	width:auto;
}

#header .nav ul li a {
	display:none;
}

#header .nav ul li ul li a {
	font-size:14px;
	line-height:16px;
	height:16px;
	text-transform:uppercase;
	color:#666666;
	padding:0 13px;
	background:url(http://beautyblog.thebodyshop.co.uk/wp-content/themes/pixeldot/images/top-bar-separator.gif) right center no-repeat transparent;
	display:block;
	text-decoration: none;
}

#header .nav ul li ul li:last-of-type a {
	padding-right:0px;
	background:none;
}

#header .nav ul li.shop-link {
	background:url(http://beautyblog.thebodyshop.co.uk/wp-content/themes/pixeldot/images/shop-arrow.png) right center no-repeat;
}

#header .nav ul li.shop-link a {
	color:#FFF;
	background:none;
}

/* blog nav */

form#searchform {
	min-height:30px;
}

form#searchform input.search-box, .signup .gform_wrapper .gform_body input, #footer .gform_wrapper .gform_body input {
	width:78%;
	border:1px solid #7fb719;
	border-right:none;
	background-color:#FFF;
	float:left;
	padding:5px 5%;
	font-size:medium;
	color:#c2c2c2;
	height:20px;
}

form#searchform input#searchsubmit, .signup .gform_wrapper .gform_footer input, #footer .gform_wrapper .gform_footer input {
	width:11%;
	float:left;
	border:none;
	background-color:#7fb719;
	text-indent:-9999px;
	text-transform:capitalize;
	cursor:pointer;
	padding:5px 0;
	font-size:medium;
	height:32px;
}

form#searchform input#searchsubmit {
	background-image:url(http://beautyblog.thebodyshop.co.uk/wp-content/themes/pixeldot/images/search.png);
	background-position:center center;
	background-repeat:no-repeat;
}

form#searchform input#searchsubmit:hover, t, .signup .gform_wrapper .gform_footer input:hover, #footer .gform_wrapper .gform_footer input:hover {
	background-color:#d90076;
}

#content #blog-nav.column {
	padding-bottom:0;
	z-index:2;
}

#blog-nav ul {
	list-style:none;
	margin:0;
	padding:0;
}

#blog-nav ul li {
	clear:both;
	background:url(http://beautyblog.thebodyshop.co.uk/wp-content/themes/pixeldot/images/dash.png) left bottom repeat-x transparent;
}

#blog-nav ul li a {
	font-weight:normal;
	font-size:1.3em;
	margin:0 10px 0 0;
	padding:1px 0;
	display:block;
	text-transform:uppercase;
	color:#453d41;
	background-repeat:no-repeat;
}

#blog-nav ul li span.blog-nav-link {
	padding:33px 0 33px 22px;
	display:inline-block;
	float:left;
}

#blog-nav ul li span.blog-nav-img {
	width:46px;
	display:inline-block;
	float:right;
	padding:33px 0;
	background-position:left center;
}

#blog-nav ul li a:hover span.blog-nav-img {
	background-position:right center;
}

#blog-nav ul li a span {
	display:block;
	padding-right:46px;
}

#blog-nav ul li a {
	display:none;
}

#blog-nav ul li ul li a {
	display:block;
}

#blog-nav ul li a:hover {
	color:#d90076;
}

#blog-nav ul li.current-menu-item a, body.category-1 #blog-nav ul li.cat-id-1 a, body.category-2 #blog-nav ul li.cat-id-2 a, body.category-3 #blog-nav ul li.cat-id-3 a, body.category-4 #blog-nav ul li.cat-id-4 a, body.category-5 #blog-nav ul li.cat-id-5 a, body.category-6 #blog-nav ul li.cat-id-6 a, body.category-7 #blog-nav ul li.cat-id-7 a, body.category-8 #blog-nav ul li.cat-id-8 a, body.category-9 #blog-nav ul li.cat-id-9 a, body.category-10 #blog-nav ul li.cat-id-10 a, body.category-11 #blog-nav ul li.cat-id-11 a, body.category-12 #blog-nav ul li.cat-id-12 a, body.category-13 #blog-nav ul li.cat-id-13 a, body.category-14 #blog-nav ul li.cat-id-14 a, body.category-15 #blog-nav ul li.cat-id-15 a, body.category-16 #blog-nav ul li.cat-id-16 a, body.category-17 #blog-nav ul li.cat-id-17 a, body.category-18 #blog-nav ul li.cat-id-18 a, body.category-19 #blog-nav ul li.cat-id-19 a, body.category-20 #blog-nav ul li.cat-id-20 a, body.category-21 #blog-nav ul li.cat-id-21 a {
	font-weight:bold;
}

/* signup */

.signup {
	padding:0 0 15px 0;
	margin-top:55px;
	background:url(http://beautyblog.thebodyshop.co.uk/wp-content/themes/pixeldot/images/dash-blue.png) left bottom repeat-x transparent;
}

#content .signup a {
	text-align:center;
	display:block;
	color:#c2c2c2;
	padding-top:5px;
	clear:both;
}

#content .signup a:hover {
	color:#d90076;
}

.signup .gform_wrapper {
	padding-top:15px;
	background:url(http://beautyblog.thebodyshop.co.uk/wp-content/themes/pixeldot/images/dash-blue.png) left top repeat-x transparent;
}

/* email updates */

#email-updates {
	background:url(http://beautyblog.thebodyshop.co.uk/wp-content/themes/pixeldot/images/dash-blue.png) left top repeat-x transparent;
}

.email-updates-btn-wrap {
	background:url(http://beautyblog.thebodyshop.co.uk/wp-content/themes/pixeldot/images/dash-blue.png) left bottom repeat-x transparent;
	padding:10px 0;
}

#email-updates a, #footer a.footer-email-updates {
	display:block;
	width:100%;
	padding:5px 0 2px 10px;
	letter-spacing: -1px;
	background-color: #7FB719;
	color:#FFF;
	font-weight:bold;
	text-align:left;
	text-transform:uppercase;
	background-image: url(http://beautyblog.thebodyshop.co.uk/wp-content/themes/pixeldot/images/arrow.png);
    background-position: 98% center;
    background-repeat: no-repeat;
    background-size: 7px 14px;
    text-decoration: none;
}

#email-updates a:hover, #footer a.footer-email-updates:hover {
	background-color:#E2007A;
	color:#FFF;
}

/* footer */

#footer {
	clear:both;
	padding:20px 0 40px;
	color:#c2c2c2;
	font-size: 0.8em;
}

#footer a {
	color:#c2c2c2;
}

#footer a:hover {
	color:#666666;
}

#footer .spacer {
	width:100%;
	border-top:2px solid #000;
}

#footer-inner {
	padding:10px 0;
	background:url(http://beautyblog.thebodyshop.co.uk/wp-content/themes/pixeldot/images/dash.png) left bottom repeat-x transparent;
}

#footer a.logo {
	width:214px;
	height:177px;
	background:url(http://beautyblog.thebodyshop.co.uk/wp-content/themes/pixeldot/images/tbs-footer.png) 0 0 no-repeat transparent;
	background-size:100% auto;
	text-indent:-9999px;
	text-transform:capitalize;
	cursor:pointer;
	display:block;
	float:left;
	max-width:18%;
}

#footer-right {
	float:right;
	width:730px;
	max-width:80%;
}

#footer-right ul#block-links {
	margin:0;
	padding:24px 0 14px 0;
	list-style:none;
	min-height:42px;
	background:url(http://beautyblog.thebodyshop.co.uk/wp-content/themes/pixeldot/images/dash.png) left bottom repeat-x transparent;
}

#footer-right ul#block-links li {
	display:inline-block;
	float:left;
	width:auto;
	margin-right:15px;
	margin-bottom:10px;
}

#footer-right ul#block-links li a {
	display:block;
}

#footer-right ul#block-links li a img {
	width:70px;
	height:auto;
	display:block;
}

#footer-right ul#block-links li a:hover {
	opacity:0.7;
	filter:alpha(opacity=70);
}

div.footer-nav {
	max-width:485px;
	float:left;
}

div.footer-nav ul {
	list-style:none;
	padding:55px 0 0 0;
	margin:0;
}

div.footer-nav ul li {
	display:inline-block;
	float:left;
}

#footer div.footer-nav ul li a {
	display:block;
	padding:0 16px;
	border-left:1px solid #c2c2c2;
	text-decoration: none;
}

#footer div.footer-nav ul li:first-of-type a {
	padding-left:0;
	border:none;
}

#footer p {
	font-size:10px;
	margin:0;
	padding:25px 0;
}

#footer p strong {
	font-size:20px;
	font-family:"KnockoutRegular", sans-serif;
	font-weight:400;
	font-style:normal;
	text-transform:uppercase;
}

/* forms */

.gform_wrapper {
}

.gform_wrapper ul {
	margin:0;
	padding:0;
	list-style:none;
}

.gform_wrapper li.gform_validation_container {
	display:none;
}

.signup .gform_wrapper label, #footer .gform_wrapper label {
	display:none;
}

.signup .gform_wrapper .gform_body input, #footer .gform_wrapper .gform_body input {
	width:100%;
	border-color:#dadada;
	background-color:#dadada;
	color:#a9a9a9;
	display:block;
	float:left;
}

.signup .gform_wrapper .gform_footer input, #footer .gform_wrapper .gform_footer input {
	float:right;
	text-indent:0;
	text-transform:uppercase;
	color:#FFF;
	width:100%;
	font-weight:bold;
	background-image:url(http://beautyblog.thebodyshop.co.uk/wp-content/themes/pixeldot/images/arrow.png);
	background-repeat:no-repeat;
	background-position:92% center;
	text-align:center;
	background-size:7px 14px;
	display:block;
}

#footer .gform_wrapper {
	float:right;
	width:210px;
	padding-top:25px;
}

#footer .gform_wrapper .gform_footer input {
	background-image:none;
	padding-left:0;
	text-align:center;
}

#footer .gform_wrapper .gform_heading h3 {
	margin:0;
	font-size:25px;
	font-family:"KnockoutRegular", sans-serif;
	font-weight:400;
	font-style:normal;
	text-transform:uppercase;
	color:#515050;
	text-align: center;
}

/* post content */
