/**
 * Analytics
 */
.stat-box {
	border: 1px solid #c9e0ed;
	margin: 0 20px 20px 0;
	width: 45%;
}

.stat-box h3 {
	font-size: 1.25em;
	font-weight: bold;
	color: #555;
	margin: 0;
	padding: 10px 10px 0 10px;
}

.stat-box p {
	margin: 0;
	min-height: 45px;
	padding: 0px 10px 10px;

}

.stat-box p span {
	display:inline-block;
	float:right;
}

.stat-box .count {
	font-size: 3em;
	font-weight: bold;
	color: #555;
	margin: 10px 0;
	padding: 0 10px;
}

.stat-box a {
	background-color: #c9e0ed;
	color: #0066a4;
	display: none;
	font-weight: bold;
	padding: 5px 10px;
	text-decoration: none;
}

#map-canvas {
	height:400px;
}

/**
 * Syntax
 */
.left {
	float: left;
}

.right {
	float: right;
}

.no-display {
	display:none;
}

.clear:after {
	content: "\0020";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
	overflow: hidden;
}