/*  GRID OF THREE   ============================================================================= */

	
.span_3_of_3 {
	width: 100%; 
}

.span_2_of_3 {
	width: 66.66%; 
}

.span_1_of_3 {
	width: 33.33%; 
}

.span_2_of_3.fixed {
	width: 66.66%!important; 
}

.span_1_of_3.fixed {
	width: 33.33%!important; 
}


/*  GO FULL WIDTH AT LESS THAN 568 PIXELS */

@media only screen and (max-width: 568px) {
	.span_3_of_3 {
		width: 100%; 
	}
	.span_2_of_3 {
		width: 100%; 
	}
	.span_1_of_3 {
		width: 100%;
	}
}