/*  GRID OF SEVEN   ============================================================================= */


.span_7_of_7 {
	width: 100%;
}

.span_6_of_7 {
	width: 85.71%;
}

.span_5_of_7 {
  	width: 71.42%;
}

.span_4_of_7 {
  	width: 57.14%;
}

.span_3_of_7 {
  	width: 42.85%;
}

.span_2_of_7 {
  	width: 28.57%;
}

.span_1_of_7 {
  	width: 14.28%;
}

.span_1_of_7.fixed {
  	width: 14.28%!important;
}


/*  GO FULL WIDTH AT LESS THAN 568 PIXELS */

@media only screen and (max-width: 568px) {
	.span_7_of_7 {
		width: 100%; 
	}
	.span_6_of_7 {
		width: 100%; 
	}
	.span_5_of_7 {
		width: 100%; 
	}
	.span_4_of_7 {
		width: 100%; 
	}
	.span_3_of_7 {
		width: 100%; 
	}
	.span_2_of_7 {
		width: 100%; 
	}
	.span_1_of_7 {
		width: 100%; 
	}
}