/*  MAKE LAYOUT RESPONSIVE at 480px FOR IPHONE LANDSCAPE ============================================ */

/**
 * Core
 */
#site-index .content-container,
#question-view .content-container,
#site-summary .content-container {
	background: url('../images/bg-vert.jpg') no-repeat right top;
	height: auto;
}

.desktop {
	display: none;
}

.mobile-inline {
	display: inline;
}

.mobile-block {
	display: block;
}

/**
 * Breadcrumbs
 */
.breadcrumbs {
	background-color: transparent;
	position: static;
}

/**
 * Site: Index
 */
#site-index form label {
	display: block;
	margin: 20px 0;
}

#site-index form .selection {
	margin-left: 0;
	width: 48%;
}

#site-index form .selection:first-child {
	margin-left: 4%;
}

#site-index form .text label {
	margin: 0 0 10px;
}

#site-index form .button {
	margin-top: 20px;
	margin-bottom: 20px;
}

#site-index .hint {
	width: 100%;
}

#site-index .span_6_of_13 {
	width: 48%;
	margin-left: 4%;
}

#site-index .first-name {
	margin-left: 0%;
}

#site-index .span_1_of_13 {
	width: 100%; 
}

/**
 * Hint
 */
.hint {
	display: none;
}

.hint.active {
	margin: 0 0 20px;
	display: block;
}

/**
 * Question: View / Site: Summary
 */
#question-view .content-left h1,
#site-summary .content-left h1{
	font-size: 1.938em;
}

#question-view .content-left,
#site-summary .content-left {
	height: auto;
}

#question-view form {
	margin-top: 10px;
}

#question-view form .selection {
	clear: none!important;
	margin-left: 0!important;
	width: 47%;
}

#question-view form .selection.odd {
	margin-left: 0;
}

#question-view form .selection.even {
	margin-left: 4%!important;
}

#question-view .did-you-know {
	position: static;
}

#question-view .back.mobile-block {
	position: absolute;
}

/**
 * Did You Know
 */
.did-you-know {
	padding-top: 20px;
	padding-bottom: 20px;
}

/**
 * Site: Result
 */
#site-result .content {
	padding-top: 10px;
}

#site-result .result-blurb .skincare-soulmates {
	background: none;
}

#site-result .skincare-summary {
	padding: 20px 0 0;
}

#site-result p.user-summary,
#site-result .ready,
#site-result .product-tabs,
.product-arrow {
	display: none;
}

#site-result .add-to-bag {
	background-image: none;
	width: 100%;
	padding: 11px 20px 10px 10px;
}

#site-result .checkbox-container {
	padding: 4px;
}

/**
 * Site: Result: Tab Panels
 */
.ui-tabs .ui-tabs-panel {
	border: none;
}

.ui-tabs .ui-tabs-panel li {
	color: #fff;
	padding: 0;
}

.ui-tabs .ui-tabs-panel li.active {
	-webkit-box-shadow: none;
	box-shadow: none;
}

.ui-tabs .ui-tabs-nav li {
	opacity: .4;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active,
.ui-tabs .ui-tabs-nav li.ui-fake-active {
	opacity: 1;
}

/**
 * Site: Result: Product Detail
 */
.mobile-tab-container .mobile-tabs,
.mobile-tab-container .product-nav {
	display: block;
}

.product-detail-container {
	background-size: initial;
	display: block;
	margin: 0;
}

.product-detail-container .span_2_of_8,
.product-detail-container .span_3_of_8 {
	padding: 20px 10px 10px;
}

.product-detail-container .span_3_of_8 {
	padding-top: 0;
}

.product-detail-container .span_2_of_8 img,
.product-detail-container .span_2_of_8 .product-variants-mobile {
	float: left;
	width: 50%;
}

.product-detail .product-name {
	font-size: 18px;
}

.product-detail-container .product-variants {
	display: none;
}

.product-detail-container .product-variants-mobile {
	display: block;
}

.product-detail-container .product-variants-mobile li {
	color: #fff;
	list-style-type: none;
	margin: 0 0 10px 10px;
	padding: 0;
}

.product-detail-container .product-variants-mobile li .product-variant {
	margin-top: 0;
}

/**
 * Site: Result: Drops of Youth
 */
.drops-of-youth {
	margin: 20px 0;
}

.drops-of-youth img {
	padding-top: 20px;
}
