/*  MAKE LAYOUT RESPONSIVE at 810px FOR IPAD PORTRAIT ================================================================ */

/**
 * Forms: Selections
 */
form .selection {
	font-size: .75em;
}

/**
 * Site: Index
 */
#site-index .span_5_of_7 {
	width: 63.63%; 
}

#site-index .span_2_of_7 {
	width: 36.36%; 
}

/**
 * Did You Know
 */
.did-you-know {
	padding-left: 3.5%;
	padding-right: 3.5%;
}

.did-you-know h2 {
	font-size: 1.375em;
}

/**
 * Question: View / Site: Summary
 */
#question-view h1,
#site-summary h1 {
	font-size: 3.75em;
}

/**
 * Site: Result
 */
#site-result .add-to-bag.clone {
	display: none;
}

#site-result .checkbox-container {
	margin-bottom: 10px;
}

/**
 * Site: Result: Tab Panels
 */
.ui-tabs .ui-tabs-panel li .product-name {
	min-height: 5em;
}
