@media only screen and (max-width: 1045px) {
	#header .nav ul li ul li a {
		font-size:15px;
		padding:0 7px;
	}
}

@media only screen and (max-width: 902px) {
	#blog-nav ul li a {
		font-size:1em;
	}
	
	#blog-nav ul li span.blog-nav-link {
		padding-left:12px;
	}
	
	.signup .gform_wrapper .gform_footer input, #footer .gform_wrapper .gform_footer input {
		background-image:none;
	}
	
	#header .nav ul li ul li a {
		font-size:12px;
		padding:0 5px;
	}
}

@media only screen and (max-width: 568px) {
	.top-bar-nav .language-select {
		float: right;
		padding: 9px;
	}

	.top-bar-nav ul li a {
		white-space: nowrap;
	}
	
	.full-width {
		width:100%;
		min-width:100%;
	}
	
	#header a.logo {
		max-width:90%;
		margin-left:auto;
		margin-right:auto;
		background-size:contain;
	}
	
	#content-span a.blog-logo {
		height:80px;
		margin-bottom:10px;
		margin-top:5px;
		clear:both;
		display:block;
		width:100%;
		text-indent:-9999px;
		text-transform:capitalize;
		cursor:pointer;
	}
	
	.fixed-width {
		width:94%;
		padding:0 3%;
	}
	
	.fixed-width.wide {
		width:100%;
		padding:0;
	}
	#content-span {
		background-size:175% auto;
		margin-top:0;
		padding-top:5px;
	}
	#content .column.right, #content .column.left {
		width:100%;
		clear:both;
		float:none;
		padding-bottom:0;
	}
	.feed-post a.post-button {
		float: none;
		min-width: 100%;
	}
	#footer a.logo {
		width:257px;
		height:50px;
		background-image:url('../images/blog/image004.png');
		float:none;
		margin:0 auto;
		width:auto;
		max-width:214px;
	}
	#footer-right {
		float:none;
		width:100%;
		clear:both;
		max-width:none;
	}
	
	#footer-right ul#block-links {
		text-align:center;
	}
	
	#footer-right ul#block-links li {
		display:inline-block;
		margin:5px;
		float:none;
	}
	
	div.footer-nav ul {
		padding:30px 0 0 0;
		text-align:center;
	}
	
	div.footer-nav ul li {
		display:inline-block;
		float:none;
	}
	
	#header .nav ul li a {
		display:block;
		width:37px;
		height:37px;
		font-size:16px;
		line-height:16px;
		height:16px;
		text-decoration:none;
		text-transform:uppercase;
		color:#666666;
		padding:12px 14px 23px 40px;
		background:url(http://beautyblog.thebodyshop.co.uk/wp-content/themes/pixeldot/images/menu.png) 10px center no-repeat;
	}
	
	#header .nav ul li ul {
		display:none;
		position:absolute;
		z-index:1;
		background-color:#FFF;
		border-bottom:1px solid #cdcdcc;
		width:100%;
	}
	
	#header .nav ul li:hover ul {
		display:block;
	}
	
	#header .nav ul li ul li {
		display:block;
		clear:both;
		width:100%;
		padding:0;
		background-repeat:no-repeat;
	}
	
	#header .nav ul li ul li a {
		background:none;
		background:url(http://beautyblog.thebodyshop.co.uk/wp-content/themes/pixeldot/images/dash.png) left top repeat-x;
		padding:9px 3% 19px;
		width:94%;
	}
	
	#header .nav ul li ul li.shop-link a {
		background:none #7FB719;
	}
	
	#blog-nav ul li a {
		display:block;
		background:url(http://beautyblog.thebodyshop.co.uk/wp-content/themes/pixeldot/images/menu.png) left center no-repeat;
		padding:10px 0 10px 30px;
	}
	
	#blog-nav ul li ul.sub-menu {
		display:none;
		position:absolute;
		background-color:#FFF;
		z-index:99;
		width:100%;
	}
	
	#blog-nav ul li ul.sub-menu li {
		width:100%;
		background:url(http://beautyblog.thebodyshop.co.uk/wp-content/themes/pixeldot/images/dash.png) left bottom repeat-x transparent;
	}
	
	#blog-nav ul li ul.sub-menu li a {
		background-position: right center;
   		background-repeat: no-repeat;
		background:none;
	}
	
	#blog-nav ul li:hover ul.sub-menu {
		display:block;
	}
	
	#content #blog-nav h2 {
		display:none;
	}
	
	ul.layout-toggle {
		margin: 0 0 0 -4px;
		padding: 10px 0 0;
		display:none;
	}
	.feed-post .img-wrap iframe, .post-content iframe {
		height:200px;
		max-width:100%;
	}
	
	#content .feed-post span.post-meta {
		width:100%;
		clear:both;
		float:none;
	}
	
	.blog-nav {
		padding:15px 0;
	}
	
	.hidden-nav {
		display:none !important;
	}
	
	#content h1 a, #content h1 span {
		font-size: 40px;
		line-height: 36px;
	}
	
	.feed-post p {
		font-size: 1.2em;
		padding: 20px 0 45px 0;
	}
	
	body.single-post #content span.post-meta.date {
		padding-top:20px;
	}
	
	#content .pagination span.next a, #content .pagination span.previous a {
		margin-bottom:10px;
		margin-left:auto;
		margin-right:auto;
		float:none;
		max-width:none;
	}
}
