@page {
	size:auto;
	margin: 0mm;
}
#site-print .span_1_of_2 {
	width: 50%;
}

#site-print #footer {
	display:none;
}
#site-print #site-print {
	margin:0;
	overflow:hidden;
} 
#site-print #header-span {
	display:none;
}
#site-print 
#top-bar-span {
	display:none;
}
#site-print .content-container {
	width:600px;
	max-width:600px;
	overflow-y:hidden;
}
#site-print .desktopOnly {
	display:none;
}

#site-print .result-blurb h1 span{
	margin-bottom: 5px;
	text-transform: uppercase;
}

#site-print .result-blurb h1{
	font: 22px 'KnockoutRegular';
	margin-bottom: 10px;
	text-transform: uppercase;
	color:#555555;
}

#site-print .result-blurb p {
	color: #555;
	font: 11px'GillSansMTStd';
	text-transform: initial;
	margin-top: 3px;
	display: block;
	line-height: 14px;
}

#site-print .day-header,
#site-print .night-header {
	position:absolute;
}

#site-print .night-header {
	position:absolute;
	left: 4px;
}

#site-print .day-header{

	left: -2px;
}

#site-print .result-blurb p span {
	text-transform:uppercase;
}

#site-print .did-you-know-print {
	text-align: center; 
	padding: 12px 56px 0px; line-height: 1.6em; 
	height: 219px; 
	margin-bottom: 2px; overflow: hidden; margin-left: 16px; 
	width: 45%;
	display: table;

	margin-left: 23px;
}

#site-print .did-you-know-print.did-you-know-three {
	text-align: center;
	padding: 0px 55px 0px;
	line-height: 1.6em;
	height: 190px;
	margin-bottom: 2px;
	overflow: hidden;
	margin-left: 10px;
	width: 46%;
	margin-right: 4px;
}

#site-print .did-you-know-print h2{
	text-align: center;
	font: 16px'GillSansMTStd';
	font-weight:lighter;
	color:#009a4e;
	margin-bottom: 10px;
	text-transform: uppercase;
}

#site-print .did-you-know-print h2 em{
	text-align: center;
	font-weight:normal;
	font-style: normal;
}

#site-print .did-you-know-print p{
	text-align: center;
	font-size: 9px;
	line-height: 14px;
	font-weight: lighter;
}

#site-print .content {
	color: #3e3e3e;
	padding: 120px 20px 0px 20px;
	position: relative;
}

#site-print .product-tabs .day-night-products {
width: 274px;
padding-right: 0;
}

#site-print #print-logo {
	top:0;
	position:absolute;
}

#site-print .ui-tabs .ui-tabs-nav li.ui-tabs-active,
#site-print .ui-tabs .ui-tabs-nav li.ui-fake-active {
	font: 1em 'GillSansRegular';
	width: 100%;
}
#site-print .ui-tabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor,
#site-print .ui-tabs .ui-tabs-nav li.ui-fake-active .ui-tabs-anchor {
	margin-top: 0;
	padding-left: 24px;
	width: 100%;
	background: none;
	font-size: 12px;
	padding-top: 1px;
	color: #bae07d;
}

#site-print .product-price,
#site-print .product-variant {
	display:none;
}

#site-print .shadow-box {
	position:absolute;
	z-index:-10;
}

#site-print .shadow-box1 {
	top: 497px;

	left: 295px;
}
#site-print .shadow-box2 {
	left: 14px;

	position: absolute;
	top: 688px;
}
#site-print .shadow-box3 {
	right: 19px;

	top: 688px;
}

#site-print .night-container {
	margin-top: 7px;
	left: 8px;
	top: 1px;
}

#site-print .all-day-box {
	width: 274px;

	margin-top: 7px;
}

#site-print .all-day {
	position:absolute;
}

#site-print .result-blurb .skincare-soulmates {
	margin-bottom: 0px;
}

#site-print .fruits .aloe-image {
	position:absolute;
	right: 229px;
}

#site-print .fruits .seaweed-image {
	position:absolute;
	right: 138px;
	top: 120px;
}

#site-print .fruits .pome-image {
	position:absolute;
	right: 39px;
	top: 120px;
}
#site-print .fruitTitles {
	margin-top: 43px;

	margin-left: 35px;
	text-transform: uppercase;
}
#site-print .fruitTitle {
	font: 9px 'GillSansRegular';
}

#site-print .fruitDesc{
	font: 9px 'GillSansMTStd';
}
#site-print .aloeTitle {
	color:#7fb719;
}

#site-print .seaweedTitle {
	color:#43aad4;
	position: absolute;
	left: 427px;
	top: 165px;
}

#site-print .pomeTitle {
	color:#c62756;
	position: absolute;
	left: 525px;
	top: 165px;
}

#site-print .fruitDesc {
	color:#4a4a4a;
	margin-bottom: 1px;
	text-transform: uppercase;
	height: 50px;
}

#site-print .aloeDesc {
	margin-left: 34px;
	width: 71px;
	display: inline-block;
}

#site-print .seaweedDesc {
	position: absolute;
	left: 426px;
	width: 69px;
}

#site-print .pomeDesc {
	position: absolute;
	left: 525px;
	width: 70px;
}

#site-print .bottom-green {
	position: relative;
	top: 4px;
	left: -36px;
}

#site-print .result-blurb .skincare-soulmates {
border-right: 1px solid #e5e5e5;
padding-right: -8%;
}

#site-print .ui-tabs .ui-tabs-panel {
	border:none;
}
#site-print .ui-tabs .ui-tabs-panel li {
	width: 33%;
	cursor: pointer;
	color: #666;
	padding: 15px 13px 10px;
}
#site-print .ui-tabs .ui-tabs-panel li .product-name .product-range {
	font-family: 'GillSansRegular';
	font-size: 1.071em;
	display: block;
}

#site-print .ui-tabs .ui-tabs-panel li .product-name {
	font-size: 9px;
	margin-top: 20px;
	height: 50px;
	text-transform: uppercase;
	line-height: 10px;
}

#site-print .ui-tabs .ui-tabs-panel li .product-tag {
	font-family: 'GillSansRegular';
	margin-bottom: 20px;
	text-transform: uppercase;
	font-size: 9px;
}

#site-print .drops-of-youth {
	color: #666;
	font-size: .857em;
	max-width: 390px;
	height: 210px;
	margin-top: -14px;
	box-shadow: none;
	-webkit-box-shadow: none;
	padding-left: 17px;
}

#site-print .night-line {
    position: absolute;
	
    top: 220PX;
}

#site-print .table-cell {
	display:table-cell;
	vertical-align: middle;
}


#site-print .drops-of-youth .product-name {
	font-family: 'GillSansMTStd';
	margin-bottom: 10px;
	text-transform: uppercase;
	margin-top: 45px;
	font-size: 15px;
	padding-left: 5px;
}

#site-print .drops-of-youth img {
	padding-top: 33px;
	width: auto;
	padding-left: 0px;
	position: relative;
	margin-left: -27px;
	z-index: -20;
}
#site-print .second-row {
	padding-bottom:10px;
}
#site-print .drops-of-youth p {
	line-height: 1.188em;
	font: 9px 'GillSansMTStd';
	width: 163px;
	line-height: 12px;
	padding-left: 5px;
}

#site-print .ui-tabs {
	margin-top: 15px;
}

#site-print .tab-night {
	padding-left:45px;
	padding-left: 31px!important;
}
#site-print .ui-tabs .ui-tabs-panel#tab-other {
background-color: transparent;
box-shadow: none;
-webkit-box-shadow: none;
}
#site-print .ui-tabs .ui-tabs-panel#tab-other li{
	padding-top: 15px;
	padding-bottom:0px;
}

#site-print .ui-tabs .ui-tabs-panel#tab-other li .product-name {
font-size: 9px;
margin-top: 10px;
text-transform: uppercase;
line-height: 10px;
height: 33px;
}

#site-print .all-day-did-you-know {
	margin-top: -10px;
}
